#my final program
manga-dl

#packages releases
*.tar.gz

#vim stuff
*.swp

#test downlaods
*.jpg
*.jpeg
*.png
*.gif
*.cbz
*.tmdl
*.fid
*.sha256

#test scripts
*.sh
*.py
*.txt
*.out
*.js

# C files
*.o
*.gch
